<!doctype html>
<html lang="en">
    <head>
        <style>
            .text{
                font-weight: 500;
                font-size: 16px;
            }
        </style>
    </head>
  <body style="padding: 20px; background-color: #F8F9FA;">

    
     <h3>Hi,</h3>
     <p>We've received a request to reset your password.If you didn't make the request,just ignore this email.</p>
     <p>Otherwise, you can reset your password using this link: </p>
     
    <a href="{{reset_password_url}}" style="text-decoration: none;">
        <div style="padding: 10px; background-color: #2689C2; color: #FFF; text-align: center;">
                Click here to reset your password
        </div>
    </a>
<br>
</body>
</html>